.bg-4-Stagione{
    background-image: url('/images/pizzas/4-stagione.jpg');
}

.bg-Diavola{
    background-image: url('/images/pizzas/diavola.jpg');
}

.bg-4-Formaggi{
    background-image: url('/images/pizzas/4formaggi.jpg');
}

.bg-Affumicata{
    background-image: url('/images/pizzas/affumicata.webp');
}
.bg-Alesandria{
    background-image: url('/images/pizzas/alesandria.jpg');
}
.bg-Amalfi{
    background-image: url('/images/pizzas/amalfi.jpg');
}
.bg-Americana{
    background-image: url('/images/pizzas/americana.jpg');
}
.bg-Bufala1{
    background-image: url('/images/pizzas/bufala1.jpg');
}
.bg-Caprese{
    background-image: url('/images/pizzas/caprese.jpg');
}
.bg-Capricciosa{
    background-image: url('/images/pizzas/capricciosa.jpg');
}
.bg-Carciofi{
    background-image: url('/images/pizzas/carciofi.jpg');
}
.bg-Fattoria{
    background-image: url('/images/pizzas/fattoria.jpg');
}
.bg-Funghi{
    background-image: url('/images/pizzas/funghi.jpg');
}
.bg-Margherita{
    background-image: url('/images/pizzas/margherita.jpg');
}
.bg-Napoli{
    background-image: url('/images/pizzas/napoli.jpg');
}