.banner {
    position: relative;
    transform-style: preserve-3d;
    perspective: 1px;
    height: 300px;
}

.banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(images/banner-breakfast1.jpg) center/cover no-repeat;
    transform: translateZ(-1px) scale(1.5);

}